@import "null.scss";

// Header
.header-section {
        
}

.navbar {
    position: absolute;
        align-items: center;
                top: 0;  
               
                        
               
}

.d-flex {
    display: flex;
    justify-content: space-between;
}


.nav {
    
}

.header-nav-link {
color: #fff;
}

.header-bg {
    width: 100vw;
    position: relative;
}
.headre-logo {
    position: absolute;
    top: 0;
    left: 0;
}
.nav {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

// Header end


