@import "null.scss";

// Header
.header-section {
        
}

.navbar {
    position: absolute;
        align-items: center;
                top: 0;  
               
                        
               
}

.d-flex {
    display: flex;
    justify-content: space-between;
}


.nav {
    
}

.header-nav-link {
color: #fff;
}

.header-bg {
    width: 100vh;
}
// Header end


