* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

body {
  background-color: #FFFFFF; }

.d-flex {
  display: flex; }

.header-section {
  font-family: 'Fredoka One', cursive; }

.bg-image {
  position: relative;
  width: 100vw;
  align-items: center;
  margin-bottom: 115px; }

.header-navigation {
  align-items: center;
  justify-content: space-around;
  position: absolute;
  width: 100%;
  top: 0; }

.header-buttons-list {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.2px; }
  .header-buttons-list .header-nav-link {
    color: #FFFFFF;
    padding: 41px; }

.header-text {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .header-text h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 74px;
    line-height: 84px;
    color: #FFFFFF;
    margin-bottom: 27px; }
  .header-text p {
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 0.2px;
    color: #FFFFFF; }

.btn {
  background: none;
  transition: width 2s, height 2s, transform 2s; }

.btn:hover {
  transform: rotate(360deg); }

.facebook-btn {
  margin-left: 32.33px;
  margin-right: 32.96px;
  background: none;
  transition: width 2s, height 2s, transform 2s; }

.facebook-btn:hover {
  transform: rotate(360deg); }

.header-button {
  margin-top: 90px;
  color: #FFFFFF;
  padding: 16px 0px;
  width: 236px;
  height: 52px;
  background: #2091F9;
  border-radius: 35px;
  font-weight: 400;
  font-size: 25px;
  line-height: 20px;
  transition-duration: 0,5s;
  cursor: pointer;
  box-shadow: 0 5px 5px #838281; }

.header-button:hover {
  background-color: #FFFFFF;
  color: black; }

.header-button:active {
  background-color: #FFFFFF;
  transform: translateY(4px);
  box-shadow: 0 5px #666; }

.hamburger {
  height: 20px;
  z-index: 100;
  display: none;
  cursor: pointer; }
  .hamburger span {
    display: block;
    width: 30px;
    height: 4px;
    background-color: white;
    margin-bottom: 5px; }

.header-section .show-menu {
  display: block;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  left: 0;
  top: 0;
  width: 50%;
  padding: 40px 20px 20px 40px; }

.header-section .show-menu li {
  margin-bottom: 20px; }

.organizer {
  justify-content: space-around;
  font-family: 'Inter', sans-serif; }
  .organizer h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 55px;
    letter-spacing: 0.2px;
    color: #252B42;
    margin-bottom: 27px; }
  .organizer p {
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 0.2px;
    color: #374754;
    margin-bottom: 70px; }
  .organizer .organizer-button {
    background: #2091F9;
    border-radius: 35px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    letter-spacing: 0.1px;
    padding-left: 59.5px;
    padding-right: 59.5px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 283.5px;
    transition-duration: 0,5s;
    cursor: pointer;
    box-shadow: 0 5px 5px #838281; }
  .organizer .organizer-button:hover {
    background-color: #FFFFFF;
    color: black; }
  .organizer .organizer-button:active {
    background-color: #FFFFFF;
    transform: translateY(4px);
    box-shadow: 0 5px #666; }

.subscription {
  align-items: center;
  justify-content: space-around;
  font-family: 'Inter', sans-serif; }

.sub-p-1 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1px;
  color: #252B42; }

h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 55px;
  letter-spacing: 0.2px;
  color: #252B42; }

.sub-p-2 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1px;
  color: #252B42; }

.sub-p-3 {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.2px;
  color: #374754; }

.sub-input {
  padding: 19px 39px;
  background: #F4F4F4;
  border: 1px solid #E8E8E8;
  border-radius: 39px;
  height: 54px;
  margin-right: 12px; }

.sub-button {
  background: #2091F9;
  border-radius: 35px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #FFFFFF;
  letter-spacing: 0.1px;
  padding-left: 59.5px;
  padding-right: 59.5px;
  padding-top: 16px;
  padding-bottom: 16px;
  transition-duration: 0,5s;
  cursor: pointer;
  box-shadow: 0 5px 5px #838281; }

.sub-button:hover {
  background-color: #FFFFFF;
  color: black; }

.sub-button:active {
  background-color: #FFFFFF;
  transform: translateY(4px);
  box-shadow: 0 5px #666; }

@media screen and (max-width: 1340px) {
  .subscription {
    display: block; } }
@media screen and (max-width: 1050px) {
  .social {
    display: block; }

  .facebook-btn {
    margin-left: 0;
    margin-right: 0; } }
@media screen and (max-width: 920px) {
  .header-buttons-list {
    display: none; }

  .hamburger {
    display: block; } }

/*# sourceMappingURL=main.css.map */
